<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertDeprecationsToExceptions="true"
>
	<testsuites>
		<testsuite name="mgn_wpblock_copy">
			<directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
