.mpcb-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 45px;
	z-index: 999999999;
	background-color: var(--accent-color,#000);
	color: #fff;
	border-radius: 0;
	border: none;
	padding: .5rem 1rem;
	cursor: pointer;
}
.mpcb-text-area{
	position: fixed;
	right: 200%;
}
footer.mpcb-footer{
	padding-bottom: 45px;
}
.mpcb-copy-btn-area{
	position: relative;
}